/* FONTE DA LOGO*/
@font-face {
    font-family: "sisterspray";
    src: url(SisterSpray.ttf);
  }
/*CLASSE DA FONTE SISTERSPRAY*/
.Artstreet{
    font-family: "sisterspray";
    font-size: 30px;
}
/*TRECHO RESPONSÁVEL POR ESTILIZAR O ARTIGO DA PÁGINA GALERIA*/
.galeria{
    text-align: center;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
}
/*ESTILIZAÇÃO DA GALERIA DE IMAGENS*/
#galeriaImg {
    height: 350px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}
/*IMAGEM PRINCIPAL DA HOMEPAGE */
#homeImg {
    position: relative;
    background-image: url("img/homeImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: blur(4px); 
  }
  /*TEXTO DENTRO DA IMAGEM PRINCIPAL DA HOMEPAGE*/
  #textImg {
    text-align:center;
    position: absolute;
    left : 7%;
    top: 45%;
    width: 90%;
    height: 500px;
    color: white;
    font-family: Montserrat, sans-serif;
    
  }	

  /* RESPONSÁVEL POR DEIXAR AS IMAGENS "SALTAREM" QUANDO O MOUSE PASSAR POR CIMA.*/
  .thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; 
    } 
    
    /*MUDA O TAMANHO DA IMAGEM OU DIV AO PASSAR O MOUSE POR CIMA*/ 
    .thumbnail:hover { 
    transform: scale(1.5); 
    
    }